/*Set Last updated value*/
:root{
  --last-updated: " \00a0 \00a0 \00a0 \00a0 Last updated: April 2022";
}

/* THIS CREATES BASIC PAGED LAYOUT IN COMBINATION WITH PAGED.HTML */
  @page{
    size: A4 portrait;
  }

:root{
  --page-width: 210mm;
  --page-height: 297mm;
  --pagedjs-margin-right: 5mm;
  --pagedjs-margin-left: 5mm;
  --pagedjs-margin-top: 8mm;
  --pagedjs-margin-bottom: 8mm;
  --root-font-size: 11pt;
  --viewer-pages-spacing: 12px;
  --viewer-shadow-color: #313131; /* this marks the pages */
    --my-darkgray: #929598;
    --indentation: 18%;
}

/* Paged.js viewer */
@media screen {
  body {
    background-color: var(--viewer-background-color);
    margin: 0; /* for mobile */
      width: calc(var(--pagedjs-width) + 2 * var(--viewer-pages-spacing)); /* for mobile */
  }
  .pagedjs_pages {
    max-width: var(--pagedjs-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .pagedjs_page {
    box-shadow: 0 0 calc(0.66667 * var(--viewer-pages-spacing)) var(--viewer-shadow-color);
    margin: var(--viewer-pages-spacing) 0;
  }
}
@media screen and (min-width: 210mm) {
  /* not a mobile */
    body {
      margin: auto;
      width: unset;
    }
}

/* create ability to insert pagebreaks with br.pagebreak */
br.pageBreak {
  page-break-after: always;
}

body {
  font-family: "Raleway";
}

p, li {
  font-size: var(--root-font-size);
  font-weight: 400;
  line-height: 125%;
}

hr {
  margin: 20 0 20 0;
}

/* section headers */
/*
h2 {
  margin-top: 0.6em;
  margin-bottom: 0.4em;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: var(--indentation);
}
h3 {
  margin-left: var(--indentation);
  margin-bottom: 0.6em;
}
*/

/****** Page numbers and last updated ******/
@page {
  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
  @bottom-center {
    content: var(--last-updated);
  }
  @bottom-right {
    text-align: right;
    content: "Page " counter(page) " of " counter(pages);
  }
}

.pagedjs_margin-bottom-right, 
.pagedjs_margin-bottom-center{
  color: var(--my-darkgray);
  font-size: 0.8em;
  margin-bottom: 20px;
  margin-right:5mm;
}

.pagedjs_margin-bottom-right {
  text-align: right;
  margin-right:5mm;
}

.pagedjs_margin-bottom-center {
  text-align: center;
}

/* PAGE */
.cv-page-wrapper {
  
  height: 100%; 
  margin:15px;
  border: 2px red solid; 
  
}

/* HEADER */
.cv-head-wrapper{
  display: grid;
  grid-template-columns: 65% 1fr;
}
.cv-head-left {
  grid-column:1;
}

.cv-head-right {
  background-image: url('../profile.png');
  background-size: cover;
  background-repeat: no-repeat;
  grid-column:2;
}

.cv-title {

	font-weight: 600;
	font-size: 2rem;
	color: black;
	letter-spacing: 0.3rem;
	margin: 0;
	
}

.cv-subtitle {

	font-size: 1em;
	font-weight: 100;
	color: #666666;
	margin: 10 0 10 0;

}

.cv-contact-table {
	
	width:100%; 
	font-size: var(--root-font-size);
	/*font-weight: 400;*/
	/*font-size: 0.7rem;*/

}

.image { 
  object-fit: cover;
}

.pimg {
  padding: 0;
}

/*  CV entries   */
.cv-entry {
  
}

/* necessary for border at bottom of page */
.cv-entry p {
  margin-left: 7mm;
  margin-bottom: 0px; 
}