/* PROFILE IMAGE */
.cv-head-right {
  background-image: url('../../images/classic.jpg');
}

/* FONT */
body {
  font-family: 'Raleway', sans-serif;
}

/* SECTION HEADERS */
h2 {
  margin-top: 30px;
  font-weight: 400;
}

.h-first {
  margin-top: 20px;
}

/*SECTIONS*/
.cv-title {
	font-weight: 600;
	font-size: 2rem;
	letter-spacing: 0.3rem;
	margin: 0;
}
.cv-entry-employer, .cv-entry-date {
  font-weight: bold;
}
.cv-entry-job-title {
  font-style: italic;
}