/* PROFILE IMAGE & background*/
.cv-head-right2 {
  background-image: url('../../images/no-frill.png'), linear-gradient(to right, #00ff80, #00ff80);
  background-size: 100%; 
  background-repeat: no-repeat;
  transition: .3s ease-in-out;
}

.cv-head-right2:hover {
  background-size: 120%;
}

/* FONT */
@font-face {font-family: "LufthansaText-Regular";
    src: url("../../fonts/lhi/LufthansaText-Regular.otf") format("opentype");
}

@font-face {font-family: "LufthansaText-Bold";
    src: url("../../fonts/lhi/LufthansaText-Bold.otf") format("opentype");
}

@font-face {font-family: "LynoStan";
    src: url("../../fonts/lhi/LynoStan.otf") format("opentype");
}

/* FONT */
body {
  font-family: 'LufthansaText-Regular', sans-serif;
}

/* SECTION HEADERS */
h2:hover {
  background-color: #00ff80;
  color: #fff;
  /*mix-blend-mode: difference;*/
}

h2 {
  font-family: 'LynoStan';
  letter-spacing: 0.2em;
  transition: background-color 2s ease-out 100ms
}

h2 span {
  margin-left: 0px;
}

.cv-contact-table td {
  opacity: 0.6;
}
.cv-contact-table td:hover {
  opacity: 1;
}

.cv-entry-employer, .cv-entry-date {
  font-family: "LufthansaText-Bold";
}
.cv-entry-job-title {
  font-style: italic;
}

.fa-stack.small { 
  font-size: 0.7em; 
}

hr {
    /*border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    transform: scaleY(0.5);*/
    background-color: #000;
    border: 0 none;
    color: #000;
    height: 1px;
    transform: scaleY(0.5);
}